<%- include ("partials/head.ejs") %>
<h1 class="text-center mb-4 mt-4">Edit Country</h1>
<form action="/edit/<%= data.ID %>" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= data.Title %>" />
    </div>
    <div class="form-group mt-4">
        <label for="country">Country</label>
        <select id="country" class="form-control" name="country">
            <option value="Indonesia" <%= data.Country == "Indonesia" ? "selected" : "" %>>Indonesia</option>
            <option value="Japan" <%= data.Country == "Japan" ? "selected" : "" %>>Japan</option>
            <option value="Korea" <%= data.Country == "Korea" ? "selected" : "" %>>Korea</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4 text-white">Save</button>
</form>
<%- include ("partials/footer.ejs") %>